* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*! kolor tła w celach technicznych */
  background-image: url(img/first-section-background-cover.jpg);
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 22px;
}
.first-section {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
}
.first-section-title {
  position: fixed;
  text-shadow: 10px 5px 8px #000000;
  padding-top: 30px;
  font-size: 5rem;
  z-index: -1;
}
.bridge {
  height: 100vh;
  background: linear-gradient(to top, #1e1f20 0%, #2f313400 100%);
}
.second-section {
  position: float;
  background-color: #1e1f20;
  padding: 0% 10%;
  padding-top: 20%;
}
.albums-cover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.item {
  height: 350px;
  width: 350px;
  background-color: #5c5c5c;
  overflow: hidden;
  border: 5px solid rgb(12, 12, 12);
  border-radius: 5px;
  margin: 5%;
}
.item-acom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: transform 0.7s;
  z-index: 20;
}
.item-acom > img {
  height: 350px;
  width: 350px;
}
.album-info > span {
  letter-spacing: 1px;
}
.album-info {
  position: sticky;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 8px;
  width: 100%;
  height: 10%;
  background-color: rgba(20, 20, 20, 0.95);
  transition: transform 0.5s;
  cursor: pointer;
}
.cover {
  position: relative;
  transition: transform 1s;
  transform: scale(1.1);
}
.cover:hover {
  transform: scale(1);
}
.active {
  transition: transform 0.5s;
}
footer {
  height: 5em;
  background-color: #161616;
}
footer > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0% 20%;
  list-style: none;
}
footer > ul > li > a {
  color: lightslategray;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid rgb(126, 126, 126);
}
.social:hover {
  transition: transform 1s;
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 20px;
  background: #1d1b20;
}
::-webkit-scrollbar-thumb {
  background-color: #858488;
  border: 7px solid #1d1b20;
  border-radius: 1em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
@media only screen and (max-width: 800px) {
  .first-section-title {
    font-size: 3em;
  }
}
